Note: Machine Learning - Linear Regression - Currently Training for Total

In [1]:
import pandas as pd

# Data Pre-Processing

In [2]:
# Load training data
train_data = pd.read_csv("Resources/train.csv")
# train_data

In [3]:
# Load testing data
test_data = pd.read_csv("Resources/test.csv")

test_data

     Year   Country  Host  Athletes  Sports  Events  Gold  Silver  Bronze
0    1992    Russia     0       475      27     234    45      38      29
1    1992       USA     0       545      28     248    37      34      37
2    1992   Germany     0       463      26     237    33      21      28
3    1992     China     0       281      23     158    16      22      15
4    1992      Cuba     0       176      16      90    14       6      11
..    ...       ...   ...       ...     ...     ...   ...     ...     ...
157  2016    Greece     0        92      16      65     3       1       2
158  2016    Norway     0        62      13      53     0       0       4
159  2016   Romania     0        95      15      62     1       1       2
160  2016  Bulgaria     0        51      14      51     0       1       2
161  2020       USA     0         0       0       0     0       0       0

[162 rows x 9 columns]

In [4]:
#  View what columns actually exist
train_data.describe().columns

Index(['Year', 'Host', 'Athletes', 'Sports', 'Events', 'Gold', 'Silver',
       'Bronze', 'Medals'],
      dtype='object')

In [5]:
# Assign X and y for test and training data
y_train = train_data["Medals"]
X_train_features = train_data[['Year', 'Host', 'Athletes', 'Sports', 'Events']]
X_train = X_train_features.values


X_test_features = test_data[['Year', 'Host', 'Athletes', 'Sports', 'Events']]
X_test = X_test_features.values

In [6]:
# # Transform the training and testing data using the X_scaler

# from sklearn.preprocessing import StandardScaler
# X_scaler = StandardScaler().fit(X_train)


# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# X_test_features_scaled = X_scaler.transform(X_train_features)

# Create and Train(Fit) Model

In [7]:
 # Create a LinearRegression model and fit it to the training data

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
print(f"Training Data Score: {model.score(X_train, y_train)}")

Training Data Score: 0.6850796195661346

# Hyperparameter Tuning - Ordinary Least Squares

In [9]:
# Source Link: https://www.datarobot.com/blog/ordinary-least-squares-in-python/
# Source Link: https://heartbeat.fritz.ai/implementing-ordinary-least-squares-ols-using-statsmodels-in-python-b1f4dee09419


import statsmodels.api as sm
import numpy as np

ols = sm.OLS(y_train, X_train_features).fit()

In [10]:
model_details = ols.summary()
print(model_details)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 Medals   R-squared (uncentered):                   0.779
Model:                            OLS   Adj. R-squared (uncentered):              0.776
Method:                 Least Squares   F-statistic:                              292.8
Date:                Sat, 01 Aug 2020   Prob (F-statistic):                   8.84e-134
Time:                        02:52:20   Log-Likelihood:                         -1788.5
No. Observations:                 421   AIC:                                      3587.
Df Residuals:                     416   BIC:                                      3607.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Year           0.0035      0.001      3.193      0.002       0.001       0.006
Host          -4.2919      5.018     -0.855      0.393     -14.156       5.572
Athletes       0.2612      0.017     15.410      0.000       0.228       0.295
Sports        -1.9712      0.327     -6.035      0.000      -2.613      -1.329
Events         0.0280      0.049      0.569      0.570      -0.069       0.125
==============================================================================
Omnibus:                      215.688   Durbin-Watson:                   1.737
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2619.714
Skew:                           1.885   Prob(JB):                         0.00
Kurtosis:                      14.625   Cond. No.                     1.18e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.18e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

# Make Predictions

In [11]:
# # Make predictions with model
# predictions = model.predict(X_test_scaled)

# Make predictions with the hypertuned model
predictions = ols.predict(X_test)

In [16]:
# Predicting - all

output = pd.DataFrame({'Year': test_data.Year, 'Country': test_data.Country, 'Total_Medals_Predictions': predictions})
output

     Year   Country  Total_Medals_Predictions
0    1992    Russia                 84.294483
1    1992       USA                101.000065
2    1992   Germany                 83.215114
3    1992     China                 39.376335
4    1992      Cuba                 23.843457
..    ...       ...                       ...
157  2016    Greece                  1.284772
158  2016    Norway                 -0.974037
159  2016   Romania                  3.955577
160  2016  Bulgaria                 -5.874522
161  2020       USA                  6.985972

[162 rows x 3 columns]

In [17]:
# #  Predicting for certain year

# output_year = output[output['Year'] == 1992]
# output_year

    Year      Country  Total_Medals_Predictions
0   1992       Russia                 84.294483
1   1992          USA                101.000065
2   1992      Germany                 83.215114
3   1992        China                 39.376335
4   1992         Cuba                 23.843457
5   1992      Hungary                 22.080412
6   1992       France                 51.648180
7   1992  South Korea                 22.105389
8   1992    Australia                 34.771586
9   1992        Japan                 31.098880
10  1992           UK                 64.145256
11  1992        Italy                 39.778669
12  1992       Poland                 21.805823
13  1992       Canada                 42.210058
14  1992      Romania                 20.181430
15  1992     Bulgaria                  8.731896
16  1992  Netherlands                 22.909039
17  1992       Sweden                 15.757725
18  1992       Norway                 -3.148294
19  1992      Denmark                  9.901901
20  1992      Belgium                 -8.869636
21  1992       Greece                 -6.852020
22  1992  Switzerland                  2.262690