In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
athlete_events = pd.read_csv('athlete_events.csv')

In [3]:
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
filter_data = athlete_events[["Sex", "Age", "Height", "Weight", "Team", "Year", "Season", "Sport", "Event", "Medal"]]

In [5]:
filter_data = filter_data.dropna().reset_index(drop = True)
filter_data.head()

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
0,M,28.0,184.0,85.0,Finland,2014,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
1,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
2,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Team All-Around,Gold
3,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Horse Vault,Gold
4,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Pommelled Horse,Gold

In [6]:
winter_data = filter_data[filter_data["Season"] == "Winter"]
winter_data.head()

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
0,M,28.0,184.0,85.0,Finland,2014,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
6,M,20.0,176.0,85.0,Norway,1992,Winter,Alpine Skiing,Alpine Skiing Men's Super G,Gold
7,M,20.0,176.0,85.0,Norway,1992,Winter,Alpine Skiing,Alpine Skiing Men's Giant Slalom,Bronze
8,M,22.0,176.0,85.0,Norway,1994,Winter,Alpine Skiing,Alpine Skiing Men's Downhill,Silver
9,M,22.0,176.0,85.0,Norway,1994,Winter,Alpine Skiing,Alpine Skiing Men's Super G,Bronze

In [7]:
summer_data = filter_data[(filter_data["Season"] == "Summer")]
summer_data.head()

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
1,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
2,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Team All-Around,Gold
3,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Horse Vault,Gold
4,M,28.0,175.0,64.0,Finland,1948,Summer,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
5,M,32.0,175.0,64.0,Finland,1952,Summer,Gymnastics,Gymnastics Men's Team All-Around,Bronze

In [8]:
summer_data["Sport"].unique()

array(['Gymnastics', 'Rowing', 'Football', 'Fencing', 'Taekwondo',
       'Athletics', 'Canoeing', 'Handball', 'Water Polo', 'Wrestling',
       'Sailing', 'Cycling', 'Hockey', 'Softball', 'Swimming', 'Boxing',
       'Basketball', 'Diving', 'Baseball', 'Volleyball',
       'Modern Pentathlon', 'Judo', 'Rugby Sevens', 'Tennis',
       'Rhythmic Gymnastics', 'Weightlifting', 'Equestrianism',
       'Badminton', 'Beach Volleyball', 'Shooting',
       'Synchronized Swimming', 'Triathlon', 'Table Tennis', 'Rugby',
       'Archery', 'Tug-Of-War', 'Ice Hockey', 'Trampolining', 'Lacrosse',
       'Golf', 'Art Competitions', 'Figure Skating'], dtype=object)

test = summer_data[(summer_data["Sport"] == "Gymnastics") & (summer_data["Sex"] == "M")]
test

test_data = test[["Age", "Height", "Weight", "Medal"]]
test_data

test_data1 = pd.get_dummies(test_data)
test_data1 = test_data1.drop(columns =["Medal_Bronze", "Medal_Silver"])
test_data1

X = test_data1[['Height', "Weight", "Age"]]
print(X.shape)
y = test_data1['Medal_Gold']
print(y.shape)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

classifier.fit(X_train, y_train)

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

predictions = classifier.predict(X_test)

pd.DataFrame({"Prediction": predictions, "Actual": y_test})

df = athlete_events[["Age", "Height", "Weight", "Medal"]]
df

In [ ]:
athlete_events = athlete_events.dropna(subset=['Height', 'Weight', "Sex"])

In [9]:
df = athlete_events[["Age", "Height", "Weight", "Medal"]]

In [11]:
df = df.dropna(subset=['Height', 'Weight'])

In [20]:
#df = athlete_events[["Age", "Height", "Weight", "Medal"]]
df = df.replace("Gold", 1)
df = df.replace("Silver", 1)
df = df.replace("Bronze", 1)
df["Medal"] = df["Medal"].fillna(0)
df = df.dropna()

In [21]:
df["Medal"].unique()

array([0., 1.])

In [22]:


X = df[['Height', "Weight", "Age"]] 
print(X.shape) 
y = df['Medal'] 
print(y.shape)

(206165, 3)
(206165,)

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [24]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression() 
classifier

classifier.fit(X_train, y_train)

LogisticRegression()

In [25]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}") 
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

predictions = classifier.predict(X_test)

pd.DataFrame({"Prediction": predictions, "Actual": y_test})

Training Data Score: 0.8536763612140497
Testing Data Score: 0.8534011097745527

        Prediction  Actual
86131          0.0     1.0
205915         0.0     0.0
99569          0.0     0.0
222613         0.0     0.0
246331         0.0     0.0
...            ...     ...
254007         0.0     0.0
208127         0.0     0.0
129133         0.0     1.0
73985          0.0     1.0
191012         0.0     0.0

[51542 rows x 2 columns]