In [6]:
import pandas as pd

In [2]:
data = {'Year':  [2004, 2008, 2012, 2016, 2020],
        'Country': ['USA', 'USA', 'USA', 'USA', 'USA' ],
        'Predicted Gold Medals': [99,43,42,44,41],
        'Predicted Silver Medals': [41,33,32,34,29],
        'Predicted Bronze Medals': [30,31,30,32,26],
        'Predicted Total Medals': [28,106,104,110,96],
        'Actual Gold Medals': [36,36,46,46,0],
        'Actual Silver Medals': [39,39,28,37,0],
        'Actual Bronze Medals': [26,35,29,38,0],
        'Actual Total Medals': [101,10,103,121,0],
        'Machine Learning Model': ['Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',]
         
        }

linear_ML_predictions = pd.DataFrame (data, columns = ['Year','Country', 
                                                       'Predicted Gold Medals','Predicted Silver Medals', 'Predicted Bronze Medals','Predicted Total Medals',
                                                       'Actual Gold Medals','Actual Silver Medals', 'Actual Bronze Medals','Actual Total Medals',
                                                       'Machine Learning Model'])

linear_ML_predictions

,Year,Country,Predicted Gold Medals,Predicted Silver Medals,Predicted Bronze Medals,Predicted Total Medals,Actual Gold Medals,Actual Silver Medals,Actual Bronze Medals,Actual Total Medals,Machine Learning Model
0,2004,USA,99,41,30,28,36,39,26,101,Linear Regression
1,2008,USA,43,33,31,106,36,39,35,10,Linear Regression
2,2012,USA,42,32,30,104,46,28,29,103,Linear Regression
3,2016,USA,44,34,32,110,46,37,38,121,Linear Regression
4,2020,USA,41,29,26,96,0,0,0,0,Linear Regression

In [ ]:
# Save into a csv file
linear_ML_predictions.to_csv('Resources/linear.csv', index=False)

# Total Medals

In [9]:
data = {'Year':  [
                2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,
                 2016,2016,2016,2016,2016,2016,2016,2016,2016,2016],
        'Country': ['USA',
                    'Russia',
                    'Germany',
                    'UK',
                    'France',
                    'Italy',
                    'China',
                    'Australia',
                    'Sweden',
                    'Hungary',
                    'Japan',
                    'Finland',
                    'Canada',
                    'Romania',
                    'Netherlands',
                    'Poland',
                    'South Korea',
                    'Bulgaria',
                    'Cuba',
                    'Denmark',
                    'Switzerland',
                    'Czech Republic',
                    'Belgium',
                    'Norway',
                    'Greece'],
#         'Predicted Gold Medals': [99,43,42,44,41],
#         'Predicted Silver Medals': [41,33,32,34,29],
#         'Predicted Bronze Medals': [30,31,30,32,26],
        'Predicted Total Medals': [
                                    108,
                                    65,
                                    59,
                                    37,
                                    41,
                                    31,
                                    56,
                                    44,
                                    12,
                                    14,
                                    33,
                                    4,
                                    21,
                                    11,
                                    19,
                                    19,
                                    16,
                                    2,
                                    6,
                                    8,
                                    4,
                                    0,
                                    2,
                                    2,
                                    1],
#         'Actual Gold Medals': [36,36,46,46,0],
#         'Actual Silver Medals': [39,39,28,37,0],
#         'Actual Bronze Medals': [26,35,29,38,0],
        'Actual Total Medals': [
                            121,
                            56,
                            42,
                            67,
                            42,
                            28,
                            70,
                            29,
                            11,
                            15,
                            41,
                            1,
                            22,
                            4,
                            19,
                            11,
                            21,
                            3,
                            11,
                            15,
                            7,
                            10,
                            6,
                            4,
                            6,
        ],
        'Machine Learning Model': ['Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',]
         
        }

top25_linear_ML_predictions = pd.DataFrame (data, columns = ['Year','Country', 
                                                       'Predicted Total Medals',
                                                    'Actual Total Medals',
                                                       'Machine Learning Model'])

top25_linear_ML_predictions

,Year,Country,Predicted Total Medals,Actual Total Medals,Machine Learning Model
0,2016,USA,108,121,Linear Regression
1,2016,Russia,65,56,Linear Regression
2,2016,Germany,59,42,Linear Regression
3,2016,UK,37,67,Linear Regression
4,2016,France,41,42,Linear Regression
5,2016,Italy,31,28,Linear Regression
6,2016,China,56,70,Linear Regression
7,2016,Australia,44,29,Linear Regression
8,2016,Sweden,12,11,Linear Regression
9,2016,Hungary,14,15,Linear Regression
10,2016,Japan,33,41,Linear Regression
11,2016,Finland,4,1,Linear Regression
12,2016,Canada,21,22,Linear Regression
13,2016,Romania,11,4,Linear Regression
14,2016,Netherlands,19,19,Linear Regression
15,2016,Poland,19,11,Linear Regression
16,2016,South Korea,16,21,Linear Regression
17,2016,Bulgaria,2,3,Linear Regression
18,2016,Cuba,6,11,Linear Regression
19,2016,Denmark,8,15,Linear Regression
20,2016,Switzerland,4,7,Linear Regression
21,2016,Czech Republic,0,10,Linear Regression
22,2016,Belgium,2,6,Linear Regression
23,2016,Norway,2,4,Linear Regression
24,2016,Greece,1,6,Linear Regression

In [10]:
# Save into a csv file
top25_linear_ML_predictions.to_csv('Resources/top25_linear.csv', index=False)

# Gold Medals

In [11]:
data = {'Year':  [
                2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,
                 2016,2016,2016,2016,2016,2016,2016,2016,2016,2016],
        'Country': ['USA',
                    'Russia',
                    'Germany',
                    'UK',
                    'France',
                    'Italy',
                    'China',
                    'Australia',
                    'Sweden',
                    'Hungary',
                    'Japan',
                    'Finland',
                    'Canada',
                    'Romania',
                    'Netherlands',
                    'Poland',
                    'South Korea',
                    'Bulgaria',
                    'Cuba',
                    'Denmark',
                    'Switzerland',
                    'Czech Republic',
                    'Belgium',
                    'Norway',
                    'Greece'],
#         'Predicted Gold Medals': [99,43,42,44,41],
#         'Predicted Silver Medals': [41,33,32,34,29],
#         'Predicted Bronze Medals': [30,31,30,32,26],
        'Predicted Total Medals': [
                                    108,
                                    65,
                                    59,
                                    37,
                                    41,
                                    31,
                                    56,
                                    44,
                                    12,
                                    14,
                                    33,
                                    4,
                                    21,
                                    11,
                                    19,
                                    19,
                                    16,
                                    2,
                                    6,
                                    8,
                                    4,
                                    0,
                                    2,
                                    2,
                                    1],
#         'Actual Gold Medals': [36,36,46,46,0],
#         'Actual Silver Medals': [39,39,28,37,0],
#         'Actual Bronze Medals': [26,35,29,38,0],
        'Actual Total Medals': [
                            121,
                            56,
                            42,
                            67,
                            42,
                            28,
                            70,
                            29,
                            11,
                            15,
                            41,
                            1,
                            22,
                            4,
                            19,
                            11,
                            21,
                            3,
                            11,
                            15,
                            7,
                            10,
                            6,
                            4,
                            6,
        ],
        'Machine Learning Model': ['Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',
                                  'Linear Regression', 'Linear Regression','Linear Regression','Linear Regression','Linear Regression',]
         
        }

gold_top25_linear_ML_predictions = pd.DataFrame (data, columns = ['Year','Country', 
                                                       'Predicted Total Medals',
                                                    'Actual Total Medals',
                                                       'Machine Learning Model'])

gold_top25_linear_ML_predictions

,Year,Country,Predicted Total Medals,Actual Total Medals,Machine Learning Model
0,2016,USA,108,121,Linear Regression
1,2016,Russia,65,56,Linear Regression
2,2016,Germany,59,42,Linear Regression
3,2016,UK,37,67,Linear Regression
4,2016,France,41,42,Linear Regression
5,2016,Italy,31,28,Linear Regression
6,2016,China,56,70,Linear Regression
7,2016,Australia,44,29,Linear Regression
8,2016,Sweden,12,11,Linear Regression
9,2016,Hungary,14,15,Linear Regression
10,2016,Japan,33,41,Linear Regression
11,2016,Finland,4,1,Linear Regression
12,2016,Canada,21,22,Linear Regression
13,2016,Romania,11,4,Linear Regression
14,2016,Netherlands,19,19,Linear Regression
15,2016,Poland,19,11,Linear Regression
16,2016,South Korea,16,21,Linear Regression
17,2016,Bulgaria,2,3,Linear Regression
18,2016,Cuba,6,11,Linear Regression
19,2016,Denmark,8,15,Linear Regression
20,2016,Switzerland,4,7,Linear Regression
21,2016,Czech Republic,0,10,Linear Regression
22,2016,Belgium,2,6,Linear Regression
23,2016,Norway,2,4,Linear Regression
24,2016,Greece,1,6,Linear Regression

In [12]:
# Save into a csv file
gold_top25_linear_ML_predictions.to_csv('Resources/gold_top25_linear.csv', index=False)

In [4]:
data = {'Year':  [2004, 2008, 2012, 2016, 2020],
        'Country': ['USA', 'USA', 'USA', 'USA', 'USA', ],
        'Predicted Gold Medals': [39,41,36,38,41],
        'Predicted Silver Medals': [31,32,30,37,37],
        'Predicted Bronze Medals': [29,29,32,32,35],
        'Predicted Total Medals': [99,100,110,110,117],
        'Actual Gold Medals': [36,36,46,46,0],
        'Actual Silver Medals': [39,39,28,37,0],
        'Actual Bronze Medals': [26,35,29,38,0],
        'Actual Total Medals': [101,10,103,121,0],
        'Machine Learning Model': ['ARIMA Model', 'ARIMA Model','ARIMA Model','ARIMA Model','ARIMA Model']
         
        }

arima_ML_predictions = pd.DataFrame (data, columns = ['Year','Country', 
                                                       'Predicted Gold Medals','Predicted Silver Medals', 'Predicted Bronze Medals','Predicted Total Medals',
                                                       'Actual Gold Medals','Actual Silver Medals', 'Actual Bronze Medals','Actual Total Medals',
                                                      'Machine Learning Model'])

arima_ML_predictions

,Year,Country,Predicted Gold Medals,Predicted Silver Medals,Predicted Bronze Medals,Predicted Total Medals,Actual Gold Medals,Actual Silver Medals,Actual Bronze Medals,Actual Total Medals,Machine Learning Model
0,2004,USA,39,31,29,99,36,39,26,101,ARIMA Model
1,2008,USA,41,32,29,100,36,39,35,10,ARIMA Model
2,2012,USA,36,30,32,110,46,28,29,103,ARIMA Model
3,2016,USA,38,37,32,110,46,37,38,121,ARIMA Model
4,2020,USA,41,37,35,117,0,0,0,0,ARIMA Model

In [5]:
# Save into a csv file
arima_ML_predictions.to_csv('Resources/arima.csv', index=False)